<h1>Hello Handlebars!</h1>
<p>The name of the user is
  {{user.name}}
  {{user.surname}}
  and he is
  {{user.age}}
  years old</p>

{{#if auth}}
  <p>You are authenticated,
    <a href="/dashboard">click here</a>
    to access the membership area</p>
{{/if}}
