<!doctype html>
<html lang="en">
  <head>
    <title>Add user</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Add user</h1>
    <form action="/users/save" method="post">
      <div>
        <input type="text" name="name" placeholder="Enter a name" />
      </div>

      <div>
        <input type="text" name="age" placeholder="Enter an age" />
      </div>

      <div>
        <input type="submit" value="Register" />
      </div>
    </form>
  </body>
</html>
