<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node JS w/ Mongo!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <nav id="navbar">
    <ul>
      <li><a href="/products">products</a></li>
    </ul>

    {{{body}}}
</body>

</html>
