<div class="auth-container">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Enter your email">
    </div>

    <div class="form-control">
      <label for="password">Passowrd:</label>
      <input type="password" name="password" placeholder="Enter your email">
    </div>

    <input type="submit" value="Sign in">
      <p>Don't have an account? <a href="/register">Click here</a></p>
  </form>
</div>
