<h1>Create Product</h1>
<form action="/products/create" method="post">
  <div class="form-control">
    <label for="name">Name of the product:</label>
    <input type="text" name="name" placeholder="Enter the product's name">
  </div>

  <div class="form-control">
    <label for="image">Image of the product:</label>
    <input type="text" name="image" placeholder="Enter the URL of the image">
  </div>

  <div class="form-control">
    <label for="price">Price of the product:</label>
    <input type="text" name="price" placeholder="Enter the price of the product">
  </div>

  <div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" placeholder="Product's description"></textarea>
  </div>

  <input type="submit" value="register" class="btn">
</form>
